.active {
	font-weight: 600;
}

.tab-content {
	display: none;
}

.show {
	display: block;
}

.img-page {
	width: 500px;
}

.firma {
	width: 50px;
	height: 50px;
	background-color: peru;
}

.contenedor {
	display: flex;
	justify-content: space-between;
	height: 300px;
	width: 550px;
	background-color: green;
}

.draggable {
	background-color: aqua !important;
}